body
	margin 0
	padding 0

html, body
	height 100%	

@font-face
	font-family droid-serif
	src: url("../fonts/droid-serif/DroidSerif.ttf")


	


.header
	box-sizing border-box

.topmenu
	width 100%
	background #4d4849
	height 50px
	text-align center
	
	
	
.topmenu__logo
	position absolute
	z-index 10
	left 50%
	margin-left -64px
	top 50px
	
	

.topmenu__logolayer
	position absolute
	top 0px
	left 50%
	margin-left -85px
	z-index 1


.topmenu__settings 
	
	float left
	margin-left 35px
	

.topmenu__settings ul > li
	display inline-block
	color #918686
	margin-left 45px
	cursor pointer
	font-family Montserrat
	font-size 14px
	
	
.topmenu__settingslang
	color #f6d98f
	font-family droid-serif
	font-style italic

.topmenu__registr
	float right
	margin-right 78px
	margin-top -15px

.topmenu__registr ul
	margin-bottom 0px	

.topmenu__registr ul > li
	box-sizing border-box
	display inline-block
	color #918686
	margin-right 30px
	cursor pointer
	font-family Montserrat
	font-size 14px
	padding 15px 15px 15px 15px
	transition 0.3s all
	
.topmenu__registr ul > li:not(:last-child):hover
	background #c55842
	color #fff




.topmenu__cart
	position absolute
	top -15px
	right 0px
	
	
	
.topmenu__cart img:hover
	
	transform translateY(7px)
	box-shadow 0 -7px 0 #f6d98f
	
	

.topnav
	height 120px
	width 100%
	
	position relative
	
	
	
.topnav__item
	position relative
	display block
	
	

.topnav__item a
	position relative
	
	
.topnav__item a:before
	content ""
	width 35px
	height 3px
	top 25px
	left 20%
	position absolute
	transition 0.3s all
	
.dropdown:after
	content "\2228"
	position absolute
	right -15px
	top 0px
	font-size 14px

	
.leftnav
	display inline-block
	position absolute
	top 0px
	left 158px
	
	


	
	



.rightnav	
	display inline-block
	position absolute
	top 0px
	right 174px



.leftnav ul
	padding-left 0px		
.rightnav ul
	padding-left 0px

	
.leftnav > ul > li
.rightnav > ul > li
	display inline-block
	margin-top 18px
	width 140px
	text-align center
	box-sizing border-box
	padding 17px 0px 17px 0px


.topnav__item:not(:first-child)::before
	position absolute
	content ""
	background #bcc1c4
	width 4px
	height 4px
	bodrer 0
	top 25px
	right 145px
	border-radius 50%




	
.topnav__item2:after
	content ""
	width 4px
	height 3px
	background #c55842
	position absolute
	right 48%
	top 42px
	transition 0.2s all
	transform scaleX(7)
	
	

	
.leftnav > ul > li > a
.rightnav > ul > li > a
	font-family: 'Montserrat', sans-serif;
	text-decoration none
	color #bcc1c4
	font-size 17px
	text-transform uppercase
	
	
	
.topnav__item > a:hover
	color #c55842
	
	

 
.sub 
	display none
	position absolute
	background #c55842
	width 250px
	text-decoration none
	list-style none
	z-index 2000
	text-align left
	top 67px
	left -53px
	

.sub:after
	position absolute
	content "" 
	border 10px solid transparent	
	border-bottom 10px solid #c55842
	top -20px
	left 115px
	




.sub li
	padding 20px 0px
	transition 0.3s all
	cursor pointer
	

.sub li:not(:last-child)	
	border-bottom 1px solid #fff
		
	

.sub a
	text-decoration none
	color #fff
	margin-left 12px
	
	





.slider
	background url("../img/slide.jpg")
	height 780px
	text-align center
	
	position relative
	
	

	

.slider-welcome
	
	
	margin 240px auto
	color #fff
	max-width 660px
	font-family: 'Montserrat', sans-serif;
	font-weight 600
	
	
.slider__messages
	margin-bottom -30px
	font-size 16px
.slider__well
	font-size 55px
	margin-bottom 10px
	
.slider__text 	
	font-family droid-serif
	font-weight 300
	font-size 18px
.slider__img
	margin-bottom -10px

.slider-nav__next
	position absolute
	right 7%
	top 405px
	background url("../img/icons/next.png")
	text-indent -9999px
	z-index 102
	width 30px
	height 30px
	opacity 0.3
	transition all 0.2s
	
.slider-nav__prev
	position absolute
	left 7%
	top 405px
	background url("../img/icons/prev.png")
	text-indent -9999px
	z-index 102
	width 30px
	height 30px
	opacity 0.3
	transition all 0.2s
	
.slider-nav__next:hover
	opacity 1
	
.slider-nav__prev:hover
	opacity 1
	




.block1
	background #f2f6f7
	position relative
	top -50px
	height 1520px
	


.contact-block
	width 1170px
	position absolute
	top -45px
	height 170px
	left 50%
	margin-left -585px	
	background #fff
	display grid
	grid-template-columns 170px 285px 300px 170px
	grid-column-gap 81px
	display  -ms-grid
	-ms-grid-columns 170px 81px 285px 81px 300px 81px 170px
	
	




.contact-block-welcome	
	box-sizing border-box
	background #f6d98f
	width 170px
	height 170px
	padding 18px 15px
	-ms-grid-column 1
	
	

.contact-block-welcome__date
	font-family Montserrat
	font-weight bold
	color #a28026
	margin-bottom 15px
	font-size 15px
	
.contact-block-welcome__greeting
	font-family droid-serif
	font-style italic
	font-size 20px
	color #a28026
	line-height 1.5
	
	
.contact-block-welcome__greteng-colortext
	color #c55842
	font-weight 600



.contact-block-requis-1

	position relative
	top 35px
	 -ms-grid-column 3
	 
	
	 
	 
.contact-block-requis-2
	position relative
	top 35px
	-ms-grid-column 5
	
	
.contact-block-requis-3
	position relative
	top 35px
	-ms-grid-column 7
	
	
	
.contact-block-requis__icon
	position absolute
	left -70px
	top 32px


.contact-block-requis__call
	color #918686
	font-family Montserrat
	font-size 12px
	font-weight bold
	margin-bottom -20px
	
	 

.contact-block-requis__call-indent
	text-indent 57px
	
.contact-block-requis__number
	color #c55842
	font-family droid-serif
	font-weight bold
	font-size 32px
	
.contact-block-requis__btn
	margin-top 30px
	background #c55842
	color #fff
	font-family Montserrat
	font-weight bold
	padding 15px 25px
	border 0
	border-radius 2px
	outline 0 !important
	cursor pointer
	 -ms-grid-column: 4;






	
	
.page-title-block1
	text-align center
	position relative
	top 200px
	

.page-title
	
	font-size 65px
	color #c55842
	/*font-family: 'Droid Serif', arial;*/
	font-style italic
	margin-top 0px
	margin-bottom 0px
	
	

.page-title-text
	font-family Montserrat
	font-weight bold
	color #918686
	margin-top -3px
	
	
.page-title-text:before
	content url("../img/icons/string-left.png")
	margin-right 15px
	
.page-title-text:after
	content url("../img/icons/string-right.png")
	margin-left 15px
	
	
	
	

.filter > ul > li
	display inline
	background #d5d1d1
	padding 5px 20px
	border-radius 15px
	cursor pointer
	transition 0.2s all
	

	
.filter > ul > li:hover
	background #dcdcdc




.filter
	text-align center
	margin-top 40px
	
	
.filter > ul > li a
	color #fff
	text-decoration none
	


.food-cards
	
	
	max-width 1170px
	
.food-cards-wrapper
	
	
	position relative
	top 250px
	margin 0 auto
	max-width 1170px
	display grid
	grid-template-columns 270px 270px 270px 270px
	grid-column-gap 30px
	grid-template-rows 455px 455px
	grid-row-gap 30px
	display  -ms-grid
	-ms-grid-columns 270px 30px 270px 30px 270px 30px 270px
	-ms-grid-rows 455px 30px 455px
	


.food-cardsitem1
.food-cardsitem2
.food-cardsitem3
.food-cardsitem4
.food-cardsitem5
.food-cardsitem6
.food-cardsitem7
.food-cardsitem8
	background #fff
	width 270px
	display inline-block
	margin 0px 30px 30px 0px
	box-sizing border-box
	padding 10px 10px
	position relative
	transition 0.3s all
	

.food-cardsitem1
	-ms-grid-column 1
	-ms-grid-row 1
.food-cardsitem2
	-ms-grid-column 3
	-ms-grid-row 1
.food-cardsitem3
	-ms-grid-column 5
	-ms-grid-row 1
.food-cardsitem4
	-ms-grid-column 7
	-ms-grid-row 1
.food-cardsitem5
	-ms-grid-column 1
	-ms-grid-row 3
.food-cardsitem6
	-ms-grid-column 3
	-ms-grid-row 3
.food-cardsitem7
	-ms-grid-column 5
	-ms-grid-row 3
.food-cardsitem8
	-ms-grid-column 7
	-ms-grid-row 3



.food-cardsitem1:hover
.food-cardsitem2:hover
.food-cardsitem3:hover
.food-cardsitem4:hover
.food-cardsitem5:hover
.food-cardsitem6:hover
.food-cardsitem7:hover
.food-cardsitem8:hover
	transform scale(1.2, 1.2)
	background #c55842
	
	
	







.food-cardsitem__title
	color #6a6060
	font-family Montserrat
	font-weight bold
	font-size 18px
	margin-top 10px
	

.food-cardsitem__desc
	color #918686
	font-family droid-serif
	font-style italic
	font-size 15px
	margin-top: -10px;
	margin-bottom 20px
	

.food-cardsitem__customer
	font-family Montserrat
	font-weight bold
	color #918686
	font-size 14px
	

.food-cardsitem-add
	border-top 1px dotted #918686
	box-sizing border-box
	


.food-cardsitem__star
	width 10px
	height 10px
	color #c55842
	
.food-cardsitem__price
	color #c55842
	font-family Montserrat
	font-size 17px
	font-weight bold
	position absolute
	bottom 4px
	

.food-cardsitem__btn1
	position absolute
	border 1px solid #918686
	border-radius 2px
	background none
	padding 5px 10px
	cursor pointer
	bottom 17px
	right 13px
	width 105px
	height 30px
	color #918686
	transition 0.3s all

.food-cardsitem__btn1:hover
	background #fff
	color #c55842
	
.food-cardsitem__btn1-redtext
	color #c55842
	
.food-cardsitem__btn1-whitetext
	color #fff
	
.food-cardsitem__btn2
	position absolute
	border 0
	border-radius 2px
	background #918686
	color #fff
	padding 5px 10px
	cursor pointer
	bottom 17px
	right 50px
	width 95px
	height 30px
	

.food-cardsitem__btn3
	position absolute
	border 0
	border-radius 2px
	background #c55842
	color #fff
	padding 5px 10px
	cursor pointer
	bottom 17px
	right 15px
	width 30px
	height 30px
	


	

.block2
	
	max-width 1170px
	margin auto
	position relative
	height 1235px

.block2-page-title
	text-align center
	position relative
	top 20px	






.block2-foodmenu1
.block2-foodmenu2
.block2-foodmenu3
.block2-foodmenu4
	max-width 570px

.block2-foodmenu1
	-ms-grid-column 1
	-ms-grid-row 1
.block2-foodmenu2
	-ms-grid-column 3
	-ms-grid-row 1
.block2-foodmenu3
	-ms-grid-column 1
	-ms-grid-row 3
.block2-foodmenu4
	-ms-grid-column 3
	-ms-grid-row 3
	

.foodmenu-wrapper
	position relative
	top 55px
	max-width 1170px
	display grid
	grid-template-columns 570px 570px
	grid-column-gap 30px
	grid-template-rows 520px 370px
	grid-row-gap 30px
	display  -ms-grid
	-ms-grid-columns 570px 30px 570px
	-ms-grid-rows 520px 30px 370px




.foodmenu-block-title
	color #6a6060
	font-family Droid Serif
	font-weight 300
	font-style italic
	font-size 25px
	

	
.foodmenu-item	
	display inline-block
	position relative
	margin-bottom 30px
	
	

.foodmenu-item__foto
	border 3px solid #e6eced
	border-radius 50%
	float left
	margin-right 23px


	
.foodmenu-item__data
	
	position relative
	box-sizing border-box
	


	
.foodmenu-item__title:after
	content ""
	position absolute
	border-bottom 1px dotted #b7bbbf
	width 30%
	top 15px
	z-index 0
	margin-left 5px
	margin-right 5px

		
	



.foodmenu-item__desc
	color #988e8e
	font-family Droid Serif, arial
	font-style italic
	font-size 10pt
	margin-top 26px
	margin-left 180px
	



.foodmenu-item__title
	color #6a6060
	font-family: 'Montserrat', sans-serif;
	font-weight 900
	font-size 13pt
	z-index 1
	
	
	
.foodmenu-item__price
	position absolute
	top -7px
	right 0px
	background #6a6060
	padding 5px 25px
	color #fff
	font-size 13pt
	font-family: 'Montserrat', sans-serif;
	font-weight 600
	border-radius 2px
	z-index 1

.foodmenu-item__bestchoise
	background #78965b

	
.foodmenu-item__special-price
	color #fff
	background #c55842

.foodmenu-item__special-price:before
	content "Special Offer!"
	color #c55842
	font-family: 'Montserrat', sans-serif;
	font-size 12px
	font-weight bold
	position absolute
	top -18px
	right: 14px;
	
	
.foodmenu__special
	position absolute
	background #f1eded
	width 160px
	padding 10px
	right -31px
	top 28px
	height 75px
	font-size 12px
	font-family: 'Montserrat', sans-serif;
	
.foodmenu__special:before
	content ""
	width 0px
	height 0px
	border 7px solid transparent
	border-top-color #f1eded
	position absolute
	top 94px
	left 83px

.alertblock__title
	margin-bottom 5px
	font-family: 'Montserrat', sans-serif;
	font-size 13px
	font-weight bold
	color #736969
	line-height 2

.foodmenu-item__title-best
	color #78965b

.foodmenu-item__title-best:before
	content "Best Choice!"
	color #78965b
	font-family: 'Montserrat', sans-serif;
	font-size 12px
	font-weight bold
	position absolute
	top -26px
	right: 19px;

	
.alertblock__text
	font-family: 'Montserrat', sans-serif;
	font-size 11px
	font-weight bold
	color #736969

.foodmenu__details
	max-width 340px
	position absolute
	background #f1eded
	padding 10px
	right 30px
	top 100px
	
.foodmenu__details:before
	content ""
	width 0px
	height 0px
	border 7px solid transparent
	border-bottom-color #f1eded
	position absolute
	top -13px
	left 85px


.block3
	background #f1eeee
	height 575px
	

.about
	max-width 470px
	margin-top 80px
	     	

.block3-wrapper
	max-width 1170px
	margin auto
	display grid
	/*grid-template-columns: 400px 400px 400px*/
	grid-template-columns: 1fr 1fr 1fr
	grid-column-gap 50px
	grid-template-rows 450px
	display  -ms-grid
	-ms-grid-columns 1fr 50px 1fr 50px 1fr
	-ms-grid-rows 450px

.about-wrapper1
	-ms-grid-column 1
	-ms-grid-row 1

.about-wrapper2
	-ms-grid-column 3
	-ms-grid-row 1

.about-wrapper3	
	-ms-grid-column 5
	-ms-grid-row 1
	padding-left 13px
	
	
	
.about__caption
	color #6a6060
	font-family: 'Montserrat', sans-serif;
	font-size 25px
	font-weight bold
	text-transform uppercase

.about__logo
	float left
	margin-right 20px

.block3__blocktext
	color #918686
	font-family droid-serif
	font-style italic
	font-size 15px
	line-height 1.5
	

.block3-opening
	color #918686
	font-family droid-serif
	font-style italic
	font-size 15px
	line-height 1.5
	width 370px
	display grid
	grid-template-columns
	

.block3-opening__days
	display inline-block
	position relative
	width 370px
	margin-bottom 10px
	
.block3-opening__times
	float right

.block3-opening__days:after
	content ""
	position absolute
	width 41%
	border-bottom 1px dotted #6a6060
	height 2px
	margin-left 5px
	margin-right 5px
	top 13px

.block3-opening__events
	display inline-block
	position relative
	width 370px
	font-weight 600

.block3-opening__events:after
	content ""
	position absolute
	width 61%
	border-bottom 1px dotted #6a6060
	height 2px
	margin-left 5px
	margin-right 5px
	top 13px



.block3-opening__events-when
	float right
	font-weight 600
	


.about__face
	border-radius 50%
	border 1px solid transperent
	float left
	margin-right 20px

.about__tweetauthor
	color #6a6060
	font-family Montserrat
	font-weight bold

.about__tweet
	font-family droid-serif
	font-style italic
	color #6a6060
	font-size 15px
	margin-left 120px
	margin-top -5px

.about__from
	color #c55842
	


.mainfoot	
	background-color #c55842
	width 100%
	height 62px
	
	
	
	
.mainfoot-wrapper
	max-width 1170px
	margin 0 auto
	height 62px
	
	position relative

.mainfoot__icons
	position absolute
	right 0px
	top 2px
	list-style none
	
.mainfoot__icons > ul > li
	display inline-block
	width 28px
	height 28px

.mainfoot__icons > ul > li:nth-child(1)
	background url("../img/icons/social1.png")
		
.mainfoot__icons > ul > li:nth-child(2)
	background url("../img/icons/social2.png")

.mainfoot__icons > ul > li:nth-child(3)
	background url("../img/icons/social3.png")

.mainfoot__icons > ul > li:nth-child(4)
	background url("../img/icons/social4.png")
	
		
.mainfoot__icons > ul > li:nth-child(1):hover
	background url("../img/icons/social1hov.png")
	
.mainfoot__icons > ul > li:nth-child(2):hover
	background url("../img/icons/social2hov.png")

.mainfoot__icons > ul > li:nth-child(3):hover
	background url("../img/icons/social3hov.png")
	
.mainfoot__icons > ul > li:nth-child(4):hover
	background url("../img/icons/social4hov.png")
	




	
.mainfoot__copyrights
	position absolute
	left -20px
	top 24px
	color #fff
	font-family Montserrat
	
	
	

	

